body{
  background-color: #1f1f22;
  color: #ddd;
}
*{
  box-sizing: border-box;
}
.main{
  max-width: 300px;
  margin: 20px auto;
}
form{
  border: 3px solid #30313D;
  border-radius: 10px;
  padding: 5px;
  display:flex;
}

form input[type="text"] {
  background: none;
  color:#fff;
  border:0;
  padding: 0 8px;
  display:block;
  width: 100%;
}

form button{
  background-color: #61DAFB;
  border:0;
  border-radius: 6px;
  cursor:pointer;
}

.task{
  background-color: #30313D;
  border-radius: 10px;
  padding: 5px 9px;
  margin-top: 5px;
  display:flex;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  align-items: center;
  transition: opacity .3s linear;
}

.task svg{
  height: 20px;
  margin-right: 8px;
  margin-top: 5px;
  padding-right: 5px;
  fill: #61DAFB;
  
}

.task-done{
  opacity: 0.3;
  text-decoration: line-through;
  background-color: #30313D;
  border-radius: 10px;
  padding: 5px 9px;
  font-size: 40px;
  font-style: italic;
  margin-top: 5px;
  margin-right: 5%;
  display:flex;
  align-items: center;
}

.task span{
  position:relative;
  flex-grow:1;
  padding-right: 5px;
}

.task-done span{
  position:relative;
  flex-grow:1;
  padding-left: 15px;
}

button.trash{
  background:none;
  border:none;
  display:flex;
  cursor:pointer;
}
button.trash svg{
  fill: #888;
  height: 14px;
}
div.task input{
  border: 2px solid #555;
  border-radius:5px;
  padding: 2px 4px;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  gap: 3px;
  padding: 10px;
  flex-wrap: wrap;
}

.paginationContainer li {
  list-style: none;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 300;
  color: black;
  background-color: aquamarine;
}

.paginationContainer li:hover {
  background-color: #ddd;
}

.paginationContainer li.activePagination {
  background-color: yellow;
}

.activePagination:hover {
  background-color: yellow;
}

.activePagination a {
  color: black;
}

.taskform{
  margin-bottom: 20px;
}